$primary: #fcfcfc;
$secondary: #171C42;
$color3: #273C6D;
$color4: #375C98;
$color5: #477CC3;

.modal {
  width: clamp(50%,700px,90%);
  height: min(50%, 500px);
  background: linear-gradient(to bottom right, $secondary,$color5);
  margin: auto;
  padding: 0 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  z-index: 101;
}

.work-title{
  padding-top: 1rem;
  color: $primary
}


.title-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black
}
