$primary: #fcfcfc;
$secondary: #171C42;
$color3: #273C6D;
$color4: #375C98;
$color5: #477CC3;

.modal {
  width: clamp(50%,700px,90%);
  height: 65vh;
  background: linear-gradient(to bottom right,$secondary,$color5);
  // background: white;
  margin: auto;
  // padding: 0 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // z-index: 101;
  overflow: hidden;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.276);

}

.work-title{
  // padding-top: 1rem;
  color: $primary;
  font-size: xx-large;
  margin-left: 1rem;
}


.title-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // border: 1px solid black
  // border-radius: 1rem 1rem 0 0 ;
  // background: linear-gradient(to bottom right, $secondary,$color5);
  
}

.title-icon{
  margin: 1rem 1.5rem 0 1.5rem;
}

.work-description,
.work-technology{
  color: $primary;
  font-size: x-large;
  width: min(90%, 100%);
}

.work-description{
  margin: 1rem 0 0 0;
}

.button-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.delete-icon{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media screen and (min-width: 600px){
  .modal{
    height: min(50%, 500px);
  }
}

@media screen and (max-width: 400px){
  .work-description,
  .work-technology{
    font-size: large;
  }
}