$primary: #fcfcfc;
$secondary: #171C42;
$color3: #273C6D;
$color4: #375C98;
$color5: #477CC3;

// .intro,

.home{
  display: flex;
  flex-direction: column;
  // dispay
  // align-items: center;
  // justify-content: center;
  background: linear-gradient(to bottom right, $secondary,$color5);
  // padding-left: 10px;
  height: 94vh;
  // padding-top: 10vh;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.387);
}

.text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // height: 750px;
  // border: 1px dashed black;
  // margin-left: 10px
  padding-left: 0px;
  // opacity: 0;
}

.name,
.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.morf-container{
  width: 100%;
  height: 100%;
  // height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px dashed black;
}

.home-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 7vh
}

.home-footer-text{
  color: $color3;
  padding-top: 1rem;
}

@media screen and (min-width: 1200px) {
  .home{
    flex-direction: row;
  }
}

@media screen and (min-width: 600px){
  .name,
  .description{
    flex-direction: row;
    align-items: initial;
    justify-content: initial;
  }
  .text-container{
    align-items: initial;
    padding-left: 20px;
  }
}
